<h3><b>Introduction to Data Analytics - Exercise set 2 - pandas-module</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<b>The datasets for these exercises have been collected from kaggle.com<br />
(a service providing different datasets for practice)</b>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_1.png" />

<h4><b>1. import pandas and read the csv-file found in Moodle (loans.csv). Use Python coding with pandas to answer the questions.</b></h4>

In [1]:
# Importing pandas and csv file
import pandas as pd
file = 'loans.csv'
df = pd.read_csv(file)

# Also let's get rid of whitespaces and change them to underscores
df.columns = df.columns.str.replace(" ", "_")

<li>Remove the Customer ID –column from data</li>
<li>Print the head of the data</li>

In [2]:
# Remove the column
df.drop('Customer_ID', axis=1, inplace=True)

In [3]:
# Print head
df.head()

,Loan_ID,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

<li>Remove rows from the data that have <b style="color: red;">a too large of a loan</b> (Current Loan Amount should be less than 99999999)</li>

In [4]:
# remove loans that are too large
df = df[df['Current_Loan_Amount'] < 99999999]

<ul>
    <li>Remove rows that have the annual income as NaN (not a number)</li>
    <ul>
        <li><b>Extra task:</b> use imputation to use average income as the value instead of NaN</li>
    </ul>
</ul>

In [5]:
# remove rows if annual income is NaN
#Let's find out how many NaN values we have first
print(f"NaN values before - {df['Annual_Income'].isnull().sum()}")

# Then find out what's the average income
average_income = df['Annual_Income'].mean()
print(f"Average annual income is around {round(average_income)}")

# And fill it in with fillna() method.
df['Annual_Income'].fillna(average_income, inplace=True)

print(f"NaN values after - {df['Annual_Income'].isnull().sum()}")

NaN values before - 19154
Average annual income is around 1373246
NaN values after - 0

<li>Get the average Current Loan Amount</li>

In [6]:
# Get the average current loan using mean() method.
avg_loan = df['Current_Loan_Amount'].mean()
print(round(avg_loan))

312314

<li>Get the highest and lowest Annual Income in the dataset</li>

In [7]:
# get highest and lowest annual income in dataset
highest_income = df['Annual_Income'].max()
lowest_income = df['Annual_Income'].min()
print(f"Highest annual income - {highest_income}\n"
      f"Lowest annual income - {lowest_income}")

Highest annual income - 165557393.0
Lowest annual income - 76627.0

<li>Get the Home Ownership value of the <b>Loan ID = bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d</b></li>

In [8]:
# get the needed value with the Loan ID

df['Home_Ownership'][df['Loan_ID'] == "bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d"]

491    Own Home
Name: Home_Ownership, dtype: object

<li>Get the Actual Annual Income of the loan with the <b>ID = 76fa89b9-e6a8-49af-afa1-8151315aba8e</b></li>
<br><b>Note:</b> The Actual Annual Income should be :
<b style="color: green">Annual Income – 12 * Monthly Debt</b><br><br>
<b>Tip:</b> Create a new field with the above instruction to the DataFrame.

In [11]:
# create a new field for Actual Annual income (annual income - 12 * monthly debt)
df['Actuall_Annual_Income'] = df['Annual_Income'] - df['Monthly_Debt'] * 12
# get the Actual Annual income for the needed ID
df['Actuall_Annual_Income'][df['Loan_ID'] == "76fa89b9-e6a8-49af-afa1-8151315aba8e"]

# Seems like we have duplicated row here

109     674234.76
2216    674234.76
Name: Actuall_Annual_Income, dtype: float64

<li>Get the Loan ID of the loan with the smallest Actual Annual Income </li>

In [15]:
# get loan ID of lowest actual annual income
lowest_actual_income = df['Actuall_Annual_Income'].min()
df['Loan_ID'][df['Actuall_Annual_Income'] == lowest_actual_income]

11648    0a84b8ab-ed2f-474f-a3a9-8bf5bb90c31a
Name: Loan_ID, dtype: object

<li>How many loans are "Long term"?</li>

In [27]:
# produce code that shows many loans are long term
df[df['Term'] == 'Long Term'].sum()

/var/folders/19/0ldx1bc54jx5tvjkrsbcv4040000gn/T/ipykernel_24943/3168656278.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['Term'] == 'Long Term'].sum()

Loan_ID                         77598f7b-32e7-4e3b-a6e5-06ba0d98fe8adb0dc6e1-7...
Loan_Status                     Fully PaidCharged OffFully PaidCharged OffFull...
Current_Loan_Amount                                                 11131583584.0
Term                            Long TermLong TermLong TermLong TermLong TermL...
Credit_Score                                                           25108688.0
Annual_Income                                                  38081653589.987831
Home_Ownership                  Own HomeHome MortgageOwn HomeHome MortgageHome...
Purpose                         Debt ConsolidationBuy HouseDebt ConsolidationD...
Monthly_Debt                                                         550679911.56
Years_of_Credit_History                                                  475104.3
Months_since_last_delinquent                                             408417.0
Number_of_Open_Accounts                                                  300517.0
Number_of_Credit_Problems                                                  3796.0
Current_Credit_Balance                                               9103450639.0
Maximum_Open_Credit                                                 22266745314.0
Bankruptcies                                                               2585.0
Tax_Liens                                                                   723.0
Actuall_Annual_Income                                          31473494651.267834
dtype: object

<li>How many loaners have more than 1 bankruptcy?</li>

In [ ]:
# produce code that shows how many loaners have more than 1 bankruptcy

:

<li>How many Short Term loans are for Home Improvements?</li>

In [ ]:
# produce code that shows how many of the Short Term loans are for Home Improvements

:

<li>How many unique loan purposes are there?</li>

In [ ]:
# produce code that shows how many unique loan purposes there are

:

<li>What are the 3 most common loan purposes?</li>

In [ ]:
# produce code that shows the 3 most common loan purposes

:

<li>Is there a correlation between <b>Annual Income</b> and <b>Number of Open Accounts</b> or is there a correlation between <b>Number of Credit Problems</b> and <b>Bankruptcies</b>?</li>

In [ ]:
# produce code that shows which correlation statement is true

:

<h4><b>2. Download the purchases.csv from Moodle, and do the following observations:</b></h4>

<li>What was the total price sum of the Purchase Order Number 018H2015? (14 rows in total)</li>

In [ ]:
# produce the code that gets the needed total price sum

:

<li>What is the name and description of the purchased item with the Purchase Order Number 3176273?</li>

In [ ]:
# produce the code that gets the needed name and description

:

<li>How many occasions (rows) of purchase data happened during the year 2013?</li>

In [ ]:
# produce the code that filters the needed data for year 2013

:

<ul><li>What are the 5 most common Departments in the data?</li>
<ul><li><b>Extra task: </b>What are 3 Departments using most money in the data?</li></ul>
</ul>

In [ ]:
# produce the code that gtest the needed most common departments

:

<li>Sort the data by Department Name</li>

In [ ]:
# sort the data by department name

:

<ul>
<li><b>Small extra tasks for extra points</b></li>
<ul>
<li>How many purchases in the data were IT Goods and had the total price more than 50000 dollars?</li>
<li>How many of the purchases have anything to do with IT? (IT Goods, IT Services, IT Telecommunications)</li>

</ul>
</ul>

In [ ]:
# produce the code for the extra tasks if you wish complete them

:

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_2.png" />

<h4><b>3. Download the data_salaries_india.csv from Moodle, and consider the following questions of the data. Use any means in pandas (or even NumPy) you wish to explain your answers.</b></h4>

<ul>
<li>Before we can do anything with the salaries, we have to convert them into something more usable</li>
<ul>
<li>Note: the salaries can be yearly, monthly or hourly salaries</li>
<ul>
<li>We don't also need the Indian rupee –sign (₹)</li>
</ul>
<li>You can use the template in Moodle to help you out with this (Salary filtering, pandas exercise 3)</li>
</ul>
</ul>

In [ ]:
# convert the salaries as needed

:

<ul>
<li>What are the most common values in different fields (Job Titles, Companies, Location)? <b>Based on the distribution, is the data balanced or not?</b></li>
<ul>
<li><b>Extra task:</b> there seem to be some Job Titles that are almost the same, like "Machine Learning Data Associate" and "Machine Learning Associate", combine these into something common</li>
</ul>
</ul>

In [ ]:
# produce the code that shows the most common values in different fields
# and answer the question about the distribution

:

<li>Are there any outliers in the data that might affect the averages negatively (certain salaries)? Manage the outliers as you best see fit (either remove them or leave them, based on your analysis) </li>

In [ ]:
# produce the code that shows the potential outliers and take care of them as you see fit

:

<ul>
<li>If we want to correlate upon categories (ordinal or binary), we need to use factorize(). <b>Factorize the Role-column, and add the new column to the DataFrame.</b></li>
<ul>
<li><b>Note:</b> using <b>factorize()</b> for nominal categories (Job Title, Location, Company Name) doesn't work well, because the numbers do not have any numeric magnitude. In other words, these categories don't measure anything, they just group data, so numerical comparison / correlation doesn't mean anything statistically.</li>
</ul>
</ul>

In [ ]:
# example:
# factorize Role level into numbers
# label1, unique1 = pd.factorize(df['Role'], sort=False)
# df['ManagerRole'] = label1

# produce the needed factorization for Role-column

:

<ul>
<li><b>Finally, check out the correlations. Does anything correlate with anything? Can we make any assumptions?</b></li>
<ul>
<li>Tip: When correlating against binary variables, sometimes the Spearman correlation might be more sensitive, in pandas:</li>
</ul>
</ul>

In [ ]:
# Remember: df.corr(method="spearman")

:

<b>Smaller extra tasks</b><br><br>
<ul>
<li>Did you get any ideas how this data could be improved? Do we need some particular new data or some other operations on the data? Should we filter something out based on some other column?<br><br><b>Provide arguments for your answers in code comments.</b><br><br> </li>
<ul>
<li>Note: There are many good possible answers here!</li>
<li>Tip: How about replacing the "Salaries Reported" column with actual rows based on that number? Try doing this with the data!</li>
<li>Remember: This data only represents data engineering salaries based on selected Indian cities.
The world is a vast place :)
</li>
</ul>
</ul>

In [ ]:
# code for the smaller extra tasks

:


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Data merge is a useful tool when you have multiple files of data that have the exact same structure.</b><br><br>Download the two csv-files from Moodle (videogames1.csv, videogames2.csv), and combine them into one Data Frame. Lastly, save the Data Frame into a new csv-file => combined.csv.</li>
</ul>

In [ ]:
# code for the advanced extra task

:

<ul>
<li><b>2. Functions and lambdas allow us to extend the operations we wish to do to columns and rows in pandas. </b><br><br>For example, the built-in functions may not be enough in all cases. Use the data of exercise 1 (loans.csv), and create a new column called "Income Group" that holds a text value. <br><br>Create either a function or a lambda, that determines the True or False –value based on the Annual Income –column. Use the following table to create the values:</li>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_3.png"/>

<li>After creating the function/lambda, you can use it by using pandas' .apply() –function.<br><br></li>

<li>Finally, get the amount of rows grouped by each of the new Income Group –field values and print them out.</li>

In [ ]:
# code for the advanced extra task

:

<ul>
<li><b>3.	Normalization allows us to convert the values of numeric columns to be between 0 and 1.</b> This is helpful when two different numbers seem to follow the same trend, but have completely different value ranges. For example, gold and silver prices tend to follow similar patterns, but their market worth is quite different. By using normalization, we can compare these trends more easily. <br>

Get historical prices of both gold and silver, and compare them without and with normalization. You can plot the prices by using df.plot() –function. Check the dataset in list in Moodle for some alternatives for gold and silver prices.
</li>
</ul>
<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_4.png" />

<ul>
<li><b>4.	Create an account to kaggle.com, and find any dataset that interests you. </b><br>

There's a list of possibly interesting datasets listed in Moodle as well.
<br><br>
<b>Try to find interesting features in data, in particular:</b>
</li>
<ul>
<li>Clean up data first (rows with too many NaN –values), values that are way too big or small, insignificant columns etc.)</li>
<li>You can create new columns as well if it seems suitable! (either by using functions or other means)</li>
<li>Interesting correlations (.corr() –function) and other interesting features in the data. Is something surprising in the data?</li>
<li><b>Note: </b>There are many ways on how to approach this exercise.</li>
</ul>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_2/es2_5.png" />

In [ ]:
# do any Kaggle.com -related extra tasks in their own Jupyter notebooks for easier coding

: